:root{

--bg:#080B12;
--surface:#121826;
--surface-light:#1B2435;

--primary:#0066FF;
--primary-light:#00D4FF;

--text:#FFFFFF;
--text-secondary:#A7B2C7;

--border:rgba(255,255,255,.08);

--radius:20px;

}